<html>
	<head>
		<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="/stylesheets/theme.css" />
		<link rel="stylesheet" href="/stylesheets/skins/default.css" />
		<link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.css" />
	</head>
	<body>

<div> 
	<center><h2 >    ESTADO DE SERVICIO</h2></center>
</div>

<div> 
	<center><h4>VEHICULO: UCO-2341</h4></center>
</div>

		<div class="row">
						<div class="col-xs-12">
							<section id="w4" class="panel form-wizard">
								<header class="panel-heading">
																

									<div >
										<center>
										<a href='#' > RECOJO DE VEHICULO  </a><i class="fa fa-angle-right"></i>
										<a href='#' >INGRESO DE VEHICULO</a> <i class="fa fa-angle-right"></i>
										<a href='#' >REVISION TECNICA </a><i class="fa fa-angle-right"></i>
										<a href='#' >INFORME TECNICO </a><i class="fa fa-angle-right"></i>
										<a href='#' >REPARACION </a><i class="fa fa-angle-right"></i>
										<a href='#' >INFORME FINAL </a><i class="fa fa-angle-right"></i>
										<a href='#' >NOTIFICACION </a><i class="fa fa-angle-right"></i>
										<a href='#' >CONFORMIDAD DE SERVICIO</a>
										</center>
									</div>
								</header>
								<div class="panel-body">
									<div class="wizard-progress wizard-progress-lg">
										<div class="steps-progress">
											<div class="progress-indicator" style="width: 0%;"></div>
										</div>
										<ul class="wizard-steps">
											<li class='active'> 
												<a data-toggle='tab' href="#w4-inicio"><span>1</span> RECOJO DE VEHICULO </a>
											</li>
											<li>
												<a data-toggle="tab" href="#w4-account"><span>2</span>INGRESO DE VEHICULO</a>
											</li>
											<li>
												<a data-toggle="tab" href="#w4-profile"><span>3</span>REVISION TECNICA</a>
											</li>
											<li>
												<a data-toggle="tab" href="#w4-billing"><span>4</span>INFORME TECNICO</a>
											</li>
											<li>
												<a data-toggle="tab" href="#w4-confirm"><span>5</span>NOTIFICACION</a>
											</li>


											<li>
												<a data-toggle="tab" href="#w4-billing"><span>6</span>REPARACION</a>
											</li>
											<li>
												<a data-toggle="tab" href="#w4-confirm"><span>7</span>INFORME FINAL</a>
											</li>

											<li>
												<a data-toggle="tab" href="#w4-billing"><span>8</span>NOTIFICACION</a>
											</li>
											<li>
												<a data-toggle="tab" href="#w4-confirm"><span>9</span>CONFORMIDAD SERVICIO</a>
											</li>



											<!-- AQUI GREGAD MAS ITEMS -->
											<!-- CADA ITEM DEBE TENER SU CONTENIDO -->
										</ul>
									</div>

									<form novalidate="novalidate" class="form-horizontal">
										<div class="tab-content">
										<!-- AQUI VAN LOS CONTENIDOS QUE DESEA AGREGAR -->
											<div class='tab-pane active' id ="w4-inicio">
												<section class="panel">
						
						<div class="panel-body">

<div> 
	<center><h4>REVISION TECNICA Y DIAGNOSTICO</h4></center>

</div>

							<table class="table table-no-more table-bordered table-striped mb-none">
								<thead>
									<tr>
										<th class="hidden-xs hidden-sm" id="ColorCabecera">TAREA</th>
										<th class="text-right" id="ColorCabecera">ESPECIALISTA</th>
										<th class="text-right hidden-xs hidden-sm" id="ColorCabecera">FECHA</th>
										
									</tr>
								</thead>
								<tbody>
									<tr>
										<td data-title="TAREA">REVICION TECNICA PRELIMINAR</td>
										<td class="hidden-xs hidden-sm" data-title="ESPECIALISTA">CARLOS SEGUNDO</td>
										<td class="text-right" data-title="FECHA">21/01/15</td>
										
									</tr>
									<tr>
										<td data-title="TAREA">CAMBIO DE MOTOR</td>
										<td class="hidden-xs hidden-sm" data-title="ESPCIALIST">FREDY MARTINEZ</td>
										<td class="text-right" data-title="FECHA">05/01/15</td>
										
									</tr>

									<tr>
										<td data-title="TAREA">REVICION TECNICA</td>
										<td class="hidden-xs hidden-sm" data-title="ESPECIALISTA">MARIO CASTEL</td>
										<td class="text-right" data-title="FECHA">11/02/15</td>
										
									</tr>
									<tr>
										<td data-title="TAREA">CAMBIO DE ACEITE</td>
										<td class="hidden-xs hidden-sm" data-title="ESPCIALIST">MARIO GOMEZ</td>
										<td class="text-right" data-title="FECHA">08/02/15</td>
										
									</tr>



								</tbody>
							</table>
						</div>
												</section>
											</div>

										<!-- AQUI TERINA DE AGREGAR TU TABLA-->
									
											
											
											
										</div>
									</form>
								</div>
								<div class="panel-footer">
									<ul class="pager">
										<li class="previous disabled">
											<a>Anterior <i class="fa fa-angle-left"></i></a>
										</li>
										<li class="finish hidden pull-right">
											<a>Finalizado</a>
										</li>
										<li class="next">
											<a>Siguiente <i class="fa fa-angle-right"></i></a>
										</li>
									</ul>
								</div>
							</section>
						</div>
					</div>

	
		<script src="assets/vendor/jquery/jquery.js"></script>
		<script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
	
		
	
		<script src="assets/vendor/jquery-validation/jquery.validate.js"></script>
		<script src="assets/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js"></script>
	
		<script src="assets/javascripts/forms/examples.wizard.js"></script>
	</body>
</html>
