<% if client_signed_in? %>
<%= render 'form' %>

<%= link_to 'Atrás', vehicles_path %>
<% else %>

	
	<!--start-header--->
	<div class="header">
  	<!--start-wrap--->
  	<div class="wrap">
  			<!--start-logo--->
  			<div class="logo">
  				<a><img src="/images/logo.png" /></a>
  			</div>
  			<div class="top-nav">
          
  			</div>
  			<div class="clear"> </div>
  			<!--End-logo--->
  		  </div>
  		<!--End-header--->
  	</div>
  	<div class="clear"> </div>
  	<div class="banner-slider">
  	<div class="wrap box" style="width: 37%">
      <div class="contact-form" >
        
        
        
        <h2 class="rotulo" >USTED NO ESTA LOGUEADO</h2>
    	<span align="center"><%= link_to "Iniciar sesión", new_client_session_path %></span>
    	<span align="center"><%= link_to "Regístrese", new_client_registration_path %></span>
        



   
        
      </div>
      <div class="clear"> </div>
  </div>
</div>

	<!--End-wrap--->

	
	
<% end %>